@media screen and (min-width: 600px) {
  .navbar {
    width: 100%;
    height: fit-content; /* 80px */

    background-color: white;

    position: fixed;
    top: 0px;

    display: block;
    
    color: #003D5B;
    font-weight: 300;
  }  

  .navbar_reverse {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 0;
  }

  .navbar_reverse > div {
    height: fit-content;
    margin: 10px;
    margin-right: 50px;
  }

  .navbar_reverse > div:hover {
    cursor: pointer;
  }

  .signup {
    border-width: 1px;
    border-radius: 5px;
    border-color: #003D5B;

    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
}