.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 95%;
  max-width: 800px;
  height: fit-content;
  padding: 15px;

  border: 1px solid black;
  border-radius: 15px;
}

.container:hover {
  background-color: var(--darken);
}

.container > h2 {
  font-size: x-large;
}
