@media screen and (min-width: 600px) {
  .question {
    text-align: center;
    font-size: 40px;
    color: #7879f1;
  }

  .circles {
    display: block;

    margin-top: 40px;
    margin-bottom: 80px;

    width: 80%;
  }
}
