#registerform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 80%;
  max-width: 550px;
  height: fit-content;
  gap: 20px;
  padding: 15px 40px;

  border: 1px solid black;
  border-radius: 20px;
}

#registerform h1 {
  font-size: xx-large;
}

#registerform button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: fit-content;
  padding: 10px;

  border: 1px solid black;
  border-radius: 20px;

  background-color: var(--purple);
}

#registerform input {
  width: 100%;
  max-width: 300px;
  border-bottom: 1px solid grey;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: fit-content;
  gap: 10px;
}

@media (max-width: 540px) {
  #registerform {
    width: 95%;
  }
}
