#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: fit-content;
    padding: 5px 40px;
}

.desktoplinks { display: flex; }

@media (max-width: 540px) {
    #navbar { padding: 5px 20px; }
}

@media (max-width: 768px) {
    .desktoplinks { display: none; }
}
