.main {
  display: grid;
  height: 100%;
  grid-template-areas:
    'header header'
    'title title'
    'tabs tabs'
    'content content'
    'footer footer';
  grid-template-rows: auto auto auto 1fr auto;
  grid-template-columns: 1fr 1fr;
}

.main.isStatement {
  grid-template-areas:
    'header header'
    'title title'
    'tabs tabs'
    'content-left content-right'
    'footer footer';
}

.header {
  grid-area: header;
}

.tabs {
  grid-area: tabs;
  display: flex;
  flex-direction: row;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.title {
  grid-area: title;
}

.statementEditor {
  grid-area: content-left;
  padding-top: .75rem;
  background-color: var(--color-gray-200);
}

.statementPreview {
  grid-area: content-right;
  padding: .5rem;
  padding-top: .75rem;
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: column;
}

.detailEditor {
  display: grid;
  grid-template-columns: auto 1fr;
}

.credits {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
}

.attachments {
  display: grid;
  grid-template-columns: 1fr 2fr auto;
}

.testData {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr auto;
}

.addButton {
  padding: .25rem .75rem;
  border-radius: .5rem;
  border: 1px solid var(--color-gray-300);
  font-family: var(--font-roboto);
  font-weight: 300;
  color: var(--color-gray-500);
}

.addButton:hover {
  color: var(--color-gray-700);
  border-color: var(--color-gray-500);
}

.addButton[disabled],
.addButton[disabled]:hover {
  color: var(--color-gray-300);
  border-color: var(--color-gray-300);
  cursor: default;
}
