.credits {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
}

.testData {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
}

.testData.outputOnly {
  grid-template-columns: 1fr 1fr auto;
}
