@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("boxicons/css/boxicons.min.css");

html {
  height: 100%;
}

body {
  height: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: fit-content;
  padding: 5px 20px;
}

a:hover,
button:hover {
  cursor: pointer;
}

input:focus-visible {
  outline: none;
}
