@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("boxicons/css/boxicons.min.css");

:root {
  --purple: rgb(109, 117, 254);
  --purple-light: rgb(197, 195, 255);
  --purple-white: rgb(237, 235, 255);

  --yellow: rgb(234, 233, 126);
  --yellow-light: rgb(243, 243, 215);

  --darken: rgb(0, 0, 0, 0.1);
  --lighten: rgb(255, 255, 255, 0.1);
}

a:hover,
button:hover {
  cursor: pointer;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: fit-content;
  padding: 5px 20px;
}

/* .submit-panel is a global class used in global.css to style the monaco editor's line numbers */
.submit-panel .monaco-editor .margin {
  border-right: 1px solid var(--color-gray-300);
}

.katex-html[aria-hidden="true"] {
  display: none;
}
