openapi: 3.0.3
info:
  title: Hurado Online Judge
  description: ''
  version: 0.0.1
tags:
  - name: Account
  - name: Tasks
  - name: Problem Setter
paths:
  /auth/login:
    post:
      tags:
        - Account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthLogin'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserError'
  /auth/register:
    post:
      tags:
        - Account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRegister'
      responses:
        200:
          description: OK
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserError'
  /users/{id}:
    parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
    get:
      tags:
        - Account
      responses:
        200:
          description: OK
        400:
          description: Bad request
    patch:
      tags:
        - Account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPatch'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        400:
          description: Bad request
  /tasks:
    get:
      tags:
        - Tasks
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskList'
  /tasks/{id}:
    parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
    get:
      tags:
        - Tasks
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskRead'
  /tasks/find/{idOrSlug}:
    parameters:
      - in: path
        name: idOrSlug
        schema:
          type: string
        required: true
        description: A task id or taks slug
    get:
      tags:
        - Tasks
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskRead'
  /judge/tasks:
    post:
      tags:
        - Problem Setter
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskSetter'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskList'
  /judge/tasks/{id}:
    parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
    get:
      tags:
        - Problem Setter
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSetter'
    patch:
      tags:
        - Problem Setter
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskSetter'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSetter'
        400:
          description: Bad request
  /files/upload:
    post:
      tags:
        - Files
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileCreate'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileRead'
        400:
          description: Bad request
  /scripts/create:
    post:
      tags:
        - Scripts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Script'
      responses:
        200:
          description: OK
        400:
          description: Bad request

components:
  schemas:
    AuthLogin:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
        password:
          type: string
    AuthRegister:
      type: object
      required:
        - email
        - username
        - password
      properties:
        email:
          type: string
        username:
          type: string
        password:
          type: string
    User:
      type: object
      required:
        - id
        - email
        - username
        - isAdmin
      properties:
        id:
          type: number
        email:
          type: string
        username: 
          type: string
        school:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        country:
          type: string
        isAdmin:
          type: boolean
    UserPatch:
      type: object
      required:
        - id
        - email
        - username
      properties:
        id:
          type: number
        email:
          type: string
        username:
          type: string
        password:
          type: string
        school:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        country:
          type: string
    FileRead:
      type: object
      required:
        - id
        - fileURL
        - name
      properties:
        id:
          type: number
        fileURL:
          type: string
        name:
          type: string
    FileCreate:
      type: object
      required:
        - fileURL
        - name
      properties:
        fileURL:
          type: string
        name:
          type: string
    Script:
      type: object
      required:
        - id
        - file
        - languageCode
        - runtimeArgs
      properties:
        id:
          type: number
        file:
          $ref: '#/components/schemas/FileRead'
        languageCode:
          type: string
        runtimeArgs:
          type: string
    TaskRead:
      type: object
      required:
        - id
        - title
        - slug
        - statement
        - allowedLanguages
        - taskType
        - scoreMax
        - timeLimit
        - memoryLimit
        - compileTimeLimit
        - submissionSizeLimit
        - isPublicInArchive
        - language
      properties:
        id:
          type: number
        title:
          type: string
        slug:
          type: string
        description:
          type: string
        allowedLanguages:
          type: string
        taskType:
          type: string
        scoreMax:
          type: integer
        timeLimit:
          type: number
        memoryLimit:
          type: integer
        compileTimeLimit:
          type: number
        compileMemoryLimit:
          type: integer
        submissionSizeLimit:
          type: integer
        validatorId:
          type: integer
        isPublicInArchive:
          type: boolean
        language:
          type: string
    TaskList:
      type: object
      required:
        - tasks
      properties:
        tasks:
          type: array
          items:
            $ref: '#/components/schemas/TaskRead'
    TaskSetter:
      allOf:
        - $ref: '#/components/schemas/TaskRead'
        - type: object
          required:
            - checkerId
          properties:
            checkerId:
              type: integer
            validatorId:
              type: integer
    UserError:
      type: object
      properties:
        raw:
          type: object
        email:
          type: string
        username:
          type: string
        password:
          type: string
        passwordConfirm:
          type: string