@media screen and (min-width: 600px) {
  .modal {
    background-color: white;

    position: relative;

    width: 555px;
    height: 600px;
  }

  .modal > div > input {
    display: block;
    
    font-size: x-large;
    
    width: 100%;
  }

  .close {
    font-size: xx-large;
    font-weight: 100;

    width: fit-content;
    height: fit-content;

    display: inline;

    position: absolute;
    right: 15px;
    top: 5px;
  }

  .signup {
    text-align: center;

    margin-top: 15px;

    width: 100%;
    height: fit-content;

    font-weight: bolder;
    font-size: 50px;
  }

  .login {
    text-align: center;

    font-size: large;

    margin-top: 25px;
    padding-top: 20px;

    border-top: 1px solid grey;
  }

  .email {
    margin-top: 50px;
  }

  .input {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 38px;

    border-bottom: 1px solid black;
  }

  .button {
    margin: 50px;
    margin-top: 0px;
    margin-bottom: 25px;

    font-size: x-large;

    border: 1px solid #003D5B;
    border-radius: 60px;

    width: 82%;
  }

  #email_error, #username_error, #password_error, #passwordConfirm_error {
    display: none;

    margin-left: 50px;

    position: absolute;

    color: red;
  }

  #email_error {
    top: 178px;
  }

  #username_error {
    top: 253px;
  }

  #password_error {
    top: 328px;
  }

  #passwordConfirm_error {
    top: 403px;
  }
}